body {
    margin: 0;
    background-color: #fdf3ec;
}
/* Style the header */
.header {
    width: 100%;
    background-color: #C61414;
    padding: 0.5px;
    margin: 0px;
    text-align: center;
    font-family: 'Times New Roman', Times,
  }
  .header e {
    background-color: #C61414;
    padding: 0px;
    text-align: center;
  font-size: 1px;
  }
  
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    font-family: 'Times New Roman', Times,
  }
  
  /* Style the topnav links */
  .topnav d {
    float: left;
    color: #D62C2C;
    text-align: center;
    margin-top: 0px;
    margin-left: 20px;
    text-decoration: none;
    font-size: 54px;
  font: times new roman;
  font-weight: bold;
  }
  li{display: inline-flexbox;}
  li a{
    float: right;
    color: #D62C2C;
    text-align: center;
    padding: 8px 2%;
    text-decoration: none;
    font-size: px;
    font: times new roman;
    font-weight: bold;
}
li b{
    float: right;
    text-align: center;
    padding: 5px 5px;
}
li c{
    float: right;
    text-align: center;
    padding: 1px 5px;
}


ul{list-style-type: none;
padding-right: 5px;}

  /* Change color on hover */
  li a:hover {
    color: #B20101;
      font-weight: bold;
      font-size: 18px;
    text-decoration: underline;
  }


.container{
    width: 100%;
    margin-right: 20px; margin-left: -5px;
    margin-top: 10px;
    columns: 6;
    column-gap: 8px;
    overflow: hidden;
    justify-content:space-evenly;
}
.container .box{
    width: 100%;
    margin: 0 0 10px;
    padding: 10px;
    
    overflow: hidden;
}
.container .box img{
    max-width: 98%;
    height: auto;
    border-radius: 5px;
}
  .container .box h{
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: smaller; line-height: 18px;
    font-family: 'Courier New', Courier, monospace;
  }

  .container .box h:hover{
    text-decoration: underline;
  }





@media (max-width:1200px)
{
    .container{
        columns: 5; overflow: hidden;
        width: calc(100%-20px);
        padding: 5px;
        margin-right: 5px; margin-left: -8px;
        box-sizing: border-box;
    }
}

@media (max-width:1000px)
{
    .container{
        columns: 4; overflow: hidden;
        width: calc(100%-20px);
        padding: 5px;
        margin-right: 5px; margin-left: -7px;
        box-sizing: border-box;
    }
}

@media (max-width:800px)
{
    .container{
        columns: 3; overflow: hidden;
        width: calc(100%-20px);
        box-sizing: border-box; margin-left: -7px; 
    }
}

@media (max-width:600px)
{
    .container{
        columns: 2; overflow: hidden;
        width: calc(100%-20px);
        box-sizing: border-box; margin-right: 5px; margin-left: -5px;
    }
    .container .box{padding: 5px; margin-right: 5px;}
}

@media (max-width:400px)
{
    .container{
        columns: 1; overflow: hidden;
        margin-left: 0px;
        float: left;
        padding: 0%;
        justify-content: left;
        width: calc(100%);
        box-sizing: border-box; margin-left: -5px;
    }
    .container .box{padding: 10px; border-radius: 0px;}
}