 /* Style the topnav links */
 .topnav d {
    float: left;
    display: block;
    color: #D62C2C;
    text-align: center;
    padding: 2px 2%;
    text-decoration: none;
    font-size: 45px;
  font: times new roman;
  font-weight: bold;
  }
  .topnav a {
    float: right;
    display: block;
    color: #D62C2C;
    text-align: center;
    padding: 15px 2%;
    text-decoration: none;
    font-size: 10;
  
  }
  .topnav b {
    float: right;
    display: block;
    color: #D62C2C;
    text-align: center;
    padding: 15px 5px;
    text-decoration: none;
    font-size: 10;
  }
  .topnav c {
    float: right;
    display: block;
    color: #D62C2C;
    text-align: center;
    padding: 12px 5px;
    text-decoration: none;
    font-size: 10;
  }
  

  <a href="#"></a>
      <b href="#">
      <img src="ig_logo.png" alt="instagram" style="width:22px">
      </b>
      <b href="#"><img src="twt_logo.png" alt="twitter" style="width:25px"></b>
      <c href="#">
      <img src="mail_logo.png" alt="mail" style="width:25px">
      </c>
      <a href="#">About</a>
       <a href="#">Store</a>
       <a href="#">Work</a>
        <a href="#">Inspiration</a>
      <a href="#">Blog</a>
      <a href="#">Home</a>
      <d href="#">smrnta</d>